<section class="row">

  Need refactoring icon!

</section>

<section class="row">
  <%= f = form_for :input, "#", id: "form1", phx_change: "validate" %>
    <%= text_input f, :input %>
  </form>
</section>
